<app-sub-title [text]="titleService.getTitle()">
  <mat-icon>business</mat-icon>
</app-sub-title>

<div class="card-container capa-fundo" [ngStyle]="backgroundImageCapaStyle">
  <div class="button-upload-capa" (click)="fileInputClick(fileInput)">
    <div class="icon-edit"><mat-icon>edit</mat-icon></div>
  </div>
  <div class="capa-fundo-descricao">
    <p *ngIf="!backgroundImageCapaUrl">Nenhuma capa de fundo</p>
  </div>

  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    style="display: none"
  />
</div>

<app-form-empresa></app-form-empresa>
<app-form-endereco></app-form-endereco>
