.width-100 {
    width: 100%;
}

.button {
    background-color: #454545;
    color: #FFF;
    height: 35px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button > p {
    margin: auto 8px auto 8px;
    cursor: pointer;
}