@import "reset-default-css-browser.css";
@import "../admin/admin-page.css";

/* Componentes renderizados via sistema de roteamento */
app-root {
  display: block;
  min-height: 100vh;
}

app-auth-home {
  display: block;
  min-height: 100vh;
  background-color: rgb(245, 247, 250);
}

app-admin-home {
  display: block;
  min-height: 100vh;
  padding-bottom: 20px;
  background: linear-gradient(to right, #ffffff -7%, rgb(210 238 250) 52%);
}

app-menu-restaurant {
  display: block;
  min-height: 100vh;
}

.card-container.form-empresa {
  .toggle-button-status-loja {
    .mdc-radio__background::before {
      background-color: #ffffff00;
    }

    .toggle-selected-aberto {
      --mdc-radio-selected-icon-color: #00d51e;
      --mdc-radio-selected-hover-icon-color: #00d51e;
      --mdc-radio-selected-pressed-icon-color: #00d51e;
      --mat-radio-checked-ripple-color: #00d51e;
      --mdc-radio-selected-focus-icon-color: #00d51e;
    }

    .toggle-selected-fechado {
      --mdc-radio-selected-icon-color: #000;
      --mdc-radio-selected-hover-icon-color: #000;
      --mdc-radio-selected-pressed-icon-color: #000;
      --mat-radio-checked-ripple-color: #000;
      --mdc-radio-selected-focus-icon-color: #000;
    }

    .mat-mdc-radio-button {
      & .mdc-radio {
        padding-left: 0px !important;
      }
    }

    .mat-mdc-radio-group {
      display: flex;
      gap: 10px;
    }
  }
}

/* Classes para estilizações globais */
.card-container {
  box-shadow: 0px 0px 2px #afafaf;
  padding: 7px;
  border-radius: 10px;
  background-color: #fff;
}
