<div class="modal-container">
    <div class="elementos-modal">        
        
        <div class="modal-header">
            <p>{{textTitle}}</p> 
            <mat-icon 
                class="button-close" 
                aria-hidden="false"
                fontIcon="close"
                (click)="onNoClick()" >
            </mat-icon>
        </div>

        <mat-dialog-content class="modal-content" [class.dividing-line]="contentDividingLine">
            <ng-content></ng-content>    
        </mat-dialog-content>
        
        <div *ngIf="textConfirmButton && textCancelButton && !textSingleButton" class="modal-footer">  
            <app-button class="mutiple-button" (click)="onNoClick()" [text]="textCancelButton" [backgroundColor]="'#ff6464'"></app-button>             
            <app-button class="mutiple-button" (click)="onConfirmClick()" [text]="textConfirmButton"></app-button>                
        </div>

        <div *ngIf="textConfirmButton && !textCancelButton && !textSingleButton" class="modal-footer">                
            <app-button (click)="onConfirmClick()" [text]="textConfirmButton" [backgroundColor]="'#454545'"></app-button>    
        </div>

        <div *ngIf="textSingleButton" class="modal-footer">                
            <app-button class="single-button" (click)="onConfirmClick()" [text]="textSingleButton" [grownWidth]="true"></app-button>    
        </div>      
    </div>
</div>



