@media (min-width: 300px) {
  .alert-width {
    width: 86%;
  }
}

@media (min-width: 800px) {
  .alert-width {
    width: 92%;
  }
}

@media (min-width: 1000px) {
  .alert-width {
    width: 94%;
  }
}

@media (min-width: 1400px) {
  .alert-width {
    width: 95%;
  }
}

@media (min-width: 1720px) {
  .alert-width {
    width: 96%;
  }
}

.alert-container {
  position: fixed;
  z-index: 100;
  border-radius: 5px;
  left: 50%;
  color: #000000;
  transform: translateX(-50%);
  transition: bottom 0.3s;
  padding: 10px 20px 10px 20px;
}

.alert-container-info {
  border: 2px solid #7ca3ff;
  background-color: #bdd5ff;
}

.alert-container-success {
  border: 2px solid #35cf3a;
  background-color: #98f19e;
}

.alert-container-warn {
  border: 2px solid #c2b133;
  background-color: #ffed91;
}

.alert-container-error {
  border: 2px solid #ff6767;
  background-color: #ffb4b4;
}

.titulo-alerta {
  font-weight: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon {
  width: 40px;
  height: 40px;

  & span {
    font-size: 40px;
  }
}

.alerta-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .icon {
    width: 40px;
    height: 40px;
  }

  & p {
    margin-left: 10px;
    width: 100%;
  }
}

.button-close {
  cursor: pointer;
}
