:host {
  [admin-content-app] {
    margin-left: 70px;
  }

  @media screen and (max-width: 600px) {
    [admin-content-app] {
      margin-left: 0;
    }
  }
}

.header-company {
  height: 40px;
  display: flex;
  align-items: center;

  & .titulo-company {
    font-size: 1.3rem;
    margin-left: 15px;
    font-weight: 550;
    color: #595959;
  }
}

.container-router {
  margin: 15px 15px 15px 15px;
}
