<app-modal 
    [textConfirmButton]="'Sim'"
    [textCancelButton]="'Cancelar'"
    [textTitle]="'Itens do carrinho'"
    [contentDividingLine]="true"
    (confirmClick)="confirmarClick($event)"
    (cancelClick)="cancelarClick()">

    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>

    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>

    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>

    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>

    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>

    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
    <p style="color: red;">Esse aqui é o conteúdo do modal</p>
</app-modal>