<app-table 
    [configColumnsTable]="configColumns"
    [dataSource]="dataSource"
    [displayColumns]="displayColumns"
    
    [ativarSelecaoItens]="true"
    [habilitarDelecao]="false"
    [habilitarEdicao]="true"
    [habilitarInclusao]="true"
    [habilitarMultisselecao]="true"
    
    [itemSelecionado]="itemSelecionado"
    (onAdd)="novoProduto()"
    (onLinhaSelecionada)="selecionarLinha($event)">

</app-table>
















<!-- <div novo-controller>
    <div class="item-controller icon">
        <span [matMenuTriggerFor]="menu" class="material-symbols-outlined">menu</span>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span>Testand item de menu</span>
        </button>
        <button mat-menu-item>
            <span>Realizar Ação X</span>
        </button>
        <button mat-menu-item> 
            <span>Teste outra ação</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Animais Marinhos</button>
    </mat-menu>
    <mat-menu lista-suspensa #invertebrates="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>
</div> -->