<div
  sidenav
  [ngClass]="{ expanded: sidenavExpanded }"
  (mouseenter)="abrirSidenav()"
  (mouseleave)="fecharSidenav()"
>
  <div menu-links>
    <a
      [routerLink]="'menu-management'"
      (click)="setSelectedButton('menu-management')"
      [ngClass]="{ selected: selectedButton === 'menu-management' }"
      class="nav-link-icon"
    >
      <mat-icon>restaurant</mat-icon>
      <span *ngIf="sidenavExpanded">Gerenciar Cardápio</span>
    </a>

    <a
      [routerLink]="'nps'"
      (click)="setSelectedButton('nps')"
      [ngClass]="{ selected: selectedButton === 'nps' }"
      class="nav-link-icon"
    >
      <mat-icon>star</mat-icon>
      <span *ngIf="sidenavExpanded">NPS</span>
    </a>

    <a
      [routerLink]="'delivery-area'"
      (click)="setSelectedButton('delivery-area')"
      [ngClass]="{ selected: selectedButton === 'delivery-area' }"
      class="nav-link-icon"
    >
      <mat-icon>map</mat-icon>
      <span *ngIf="sidenavExpanded">Àrea de Entrega</span>
    </a>

    <a
      [routerLink]="'users'"
      (click)="setSelectedButton('users')"
      [ngClass]="{ selected: selectedButton === 'users' }"
      class="nav-link-icon"
    >
      <mat-icon>person</mat-icon>
      <span *ngIf="sidenavExpanded">Gerenciar Usuários</span>
    </a>

    <a
      [routerLink]="'manage-company'"
      (click)="setSelectedButton('manage-company')"
      [ngClass]="{ selected: selectedButton === 'manage-company' }"
      class="nav-link-icon"
    >
      <mat-icon>business</mat-icon>
      <span *ngIf="sidenavExpanded">Gerenciar Empresa</span>
    </a>
  </div>

  <div *ngIf="sidenavExpanded" meu-perfil>
    <mat-icon class="icon-perfil-user">person_outline</mat-icon>
    <span>Meu Perfil</span>
  </div>
</div>
