:host {
  [sidenav] {
    padding: 20px 5px;
    transition: width 0.15s;
    box-shadow: 1px 0 6px -3px rgba(0, 0, 0, 1);
    z-index: 100;
    width: 50px;
    background-color: rgb(27 29 38);
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0px;

    & [menu-links] {
      height: 70%;

      & a {
        display: flex;
        align-items: center;
        color: #ffffffbf;
        text-decoration: none;
        transition: background-color 0.15s, color 0.15s;

        & span {
          white-space: nowrap;
        }

        &.selected {
          color: #ffffff;

          & mat-icon {
            transform: scale(1.2);
          }
        }

        &:hover {
          color: #f1f1f1;
          background: none;
        }
      }

      & .nav-link-icon {
        &:hover {
          & mat-icon {
            transform: scale(1.2);
          }
        }
      }

      mat-icon {
        transition: transform 0.15s;
        vertical-align: middle;
        flex-shrink: 0;
        padding: 12px;
      }
    }

    &.expanded {
      width: 220px;
      box-shadow: 20px 0 24px -20px rgb(0 0 0 / 45%);

      & a span {
        display: inline;
        transition: opacity 0.15s ease;
        opacity: 1;
      }
    }

    & [meu-perfil] {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;

      .icon-perfil-user {
        border: solid 2px;
        border-radius: 50px;
        margin: 15px;
        height: 100px;
        width: 100px;
        font-size: 100px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    [sidenav] {
      width: 220px;
      padding: 0px;
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 0.15s ease, padding 0.15s ease;
      box-shadow: none;
      top: 40px;

      &.expanded {
        max-height: 100%;
        border-top: solid 1px #ffffff38;
      }

      [menu-links] {
        height: 60%;
        padding: 10px;
      }
    }

    [sidenav-toggle-butoon] {
      background-color: rgb(27 29 38);
      width: 60px;
      height: 40px;

      & [mat-icon-button] {
        background-color: #1b1d26;
        color: #ffffff8a;
        border: none;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 105;
      }
    }
  }
}
